@model IEnumerable<OrderViewModel>
@using OrderManagmentApp.WEB.Models;
@{
    ViewData["Title"] = "MAIN PAGE";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="m-2">
    <table id="mainpage" class="table table-bordered">
        <thead>
            <tr>
                <th>Номер</th>
                <th>Дата</th>
                <th>Клиент</th>
                <th>Телефон</th>
                <th>Договор</th>
                <th>Товар</th>
                <th>Сумма</th>
                <th>Коментарий</th>
                <th>Статус</th>
                <th>отгрузка</th>
                <th>Куда</th>
                <th>Менеджер</th>
                <th>Статус завода</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                <tr id="@order.Id">

                    <td>@order.Id</td>
                    <td>@order.DateOfCreating</td>
                    <td>@order.CustomerName</td>
                    <td>@order.CustomerPhones[0]</td>
                    <td>@order.CurrentAgreement</td>
                    <td>@order.Good</td>
                    <td>@order.ContractSum</td>
                    <td>@order.AdditionalInfo</td>
                    <td>@order.OrderState</td>
                    <td>@order.ShipmentSpecialist</td>
                    <td>@order.ShipmentDestination</td>
                    <td>@order.Manager</td>
                    <td>@order.OrderInFactory_StateOfShipment</td>
                </tr>
            }
        </tbody>

    </table>

</div>