<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OrderManagmentApp.WEB</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/jqueryui/jquery-ui.css" />   
</head>
@using OrderManagmentApp.Infrastructure.Constatnts
<body>

    <header>
        <nav class="main-menu mb-3 border-bottom">
            <ul>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Customer" asp-action="CustomerManager">Customers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Order" asp-action="OrderManager">Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Agreement" asp-action="AgreementManager">Agreement</a>
                </li>
                @if (User.IsInRole("admin"))
                 {
                    <li class="nav-item">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                AdminMenu
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" asp-controller="SecondaryTables" asp-action="Index">SecondaryTables</a>
                                <a class="dropdown-item" asp-controller="Users" asp-action="Create">@Messages.CreateNewUser </a>
                                <a class="dropdown-item" asp-controller="Users" asp-action="Index">User list</a>
                            </div>
                        </div>
                    </li>

                 }
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item nav-right">
                        <p>    @User.Identity.Name</p>
                    </li>
                    <li class="nav-item nav-right">
                        <form method="post" asp-controller="Account" asp-action="Logout">
                            <input type="submit" value="Выход" />
                        </form>
                    </li>
                }
                else
                {
                    <li class="nav-item nav-right"><a asp-controller="Account" asp-action="Login">Вход</a></li>

                }
            </ul>
        </nav>
    </header>

    <div class="">
        <main role="main" class="pb-3 m-2">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jqueryui\jquery-ui.js" ></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
