@model IEnumerable<OrderManagmentApp.WEB.Models.AgreementViewModel>

@{
    ViewData["Title"] = "AgreementManager";
}

<h1>AgreementManager</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Good)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sum)
            </th>          
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Good)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sum)
            </td>            
            <td>
                @Html.DisplayFor(modelItem => item.Customer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
